<h1>Authors List</h1>
<%# Search form to filter authors by name %>
<%= form_with url: authors_path, method: :get, local: true do%>
  <div>
    <%= label_tag :query, "Search Authors"%>
    <%# Text field where users can type the author's name to search %>
    <%= text_field_tag :query, params[:query], placeholder: "Enter the author"%>
    <%= submit_tag "Search"%>
  </div>
<%end%>

<ul>
  <%# Loop through each author and create a list item with a link to the author's show page %>
  <% @authors.each do |author| %>
    <li>
        <%= link_to author.name, author_path(author)%>
    </li>
  <% end %>
</ul>

<%# Pagination controls to navigate between pages of authors %>
<%=paginate @authors%>