<h1>Authors List</h1>
<%= form_with url: authors_path, method: :get, local: true do%>
  <div>
    <%= label_tag :query, "Search Authors"%>
    <%= text_field_tag :query, params[:query], placeholder: "Enter the author"%>
    <%= submit_tag "Search"%>
  </div>
<%end%>

<ul>
  <% @authors.each do |author| %>
    <li>
        <%= link_to author.name, author_path(author)%>
    </li>
  <% end %>
</ul>

<%=paginate @authors%>