<%# Main heading for the books list page %>
<h1>Yours Books List</h1>
<%# Search form for filtering books by title using a GET request %>
<%= form_with url: books_path, method: :get, local: true do %>
  <div>
    <%= label_tag :query, "Search Books"%>
    <%# Text input field that holds the search term; retains the query in the box after search %>
    <%= text_field_tag :query, params[:query], placeholder: "Enter book title" %>
    <%= submit_tag "Search"%>
  </div>
<% end %>

<%# Unordered list to display each book record %>
<ul>
  <%# Loop through each book in the @books collection %>
  <% @books.each do |book| %>
    <li>
      <strong><%= link_to book.title, book_path(book) %></strong> by <%= book.author.name || "Unknown Author"%>
      (<%= book.publisher&.name || "No Publisher" %>)
      <strong>Genres:</strong>
      <span>
        <% if book.genres.any? %>
          <%= book.genres.map(&:name).join(", ") %>
        <% else %>
          Unknown
        <% end %>
      </span>
    </li>
  <% end %>
</ul>
<%# Pagination controls to navigate between pages of books %>
<%=paginate @books%>